src/main/resources/xsd/mnReport.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
         <!-- XML Schema Generated from XML Document on Mon Oct 29 2018 10:39:57 GMT+0800 (台北標準時間) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="cwbdata">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element type="xs:string" name="identifier"></xs:element>
                           <xs:element type="xs:string" name="datasetID"></xs:element>
                           <xs:element type="xs:string" name="datasetName"></xs:element>
                           <xs:element type="xs:string" name="dataItemID"></xs:element>
                           <xs:element type="xs:string" name="sender"></xs:element>
                           <xs:element type="xs:dateTime" name="sent"></xs:element>
                           <xs:element type="xs:string" name="status"></xs:element>
                           <xs:element type="xs:string" name="scope"></xs:element>
                           <xs:element type="xs:string" name="msgType"></xs:element>
                           <xs:element type="xs:string" name="publisherOID"></xs:element>
                           <xs:element name="resources">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="resource">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="metadata">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element type="xs:string" name="resourceID"></xs:element>
                                                                                 <xs:element type="xs:string" name="resourceName"></xs:element>
                                                                                 <xs:element type="xs:string" name="resourceDescription"></xs:element>
                                                                                 <xs:element type="xs:string" name="language"></xs:element>
                                                                                 <xs:element type="xs:string" name="homepage"></xs:element>
                                                                                 <xs:element name="sources">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="source" maxOccurs="unbounded">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element type="xs:string" name="title"></xs:element>
                                                                                                                     <xs:element type="xs:string" name="path"></xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="temporal">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element type="xs:dateTime" name="startTime"></xs:element>
                                                                                                   <xs:element type="xs:dateTime" name="endTime"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="spatial">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element type="xs:string" name="description"></xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                                 <xs:element name="statistics">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="statisticalPeriods">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="statisticalPeriod">
                                                                                                                           <xs:complexType>
                                                                                                                                 <xs:sequence>
                                                                                                                                       <xs:element type="xs:string" name="periodTagName"></xs:element>
                                                                                                                                       <xs:element type="xs:string" name="description"></xs:element>
                                                                                                                                 </xs:sequence>
                                                                                                                           </xs:complexType>
                                                                                                                     </xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                                   <xs:element name="weatherElements">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="weatherElement" maxOccurs="unbounded">
                                                                                                                           <xs:complexType>
                                                                                                                                 <xs:sequence>
                                                                                                                                       <xs:element type="xs:string" name="tagName"></xs:element>
                                                                                                                                       <xs:element type="xs:string" name="description"></xs:element>
                                                                                                                                       <xs:element type="xs:string" name="units"></xs:element>
                                                                                                                                       <xs:element name="statisticalMethods">
                                                                                                                                             <xs:complexType>
                                                                                                                                                   <xs:sequence>
                                                                                                                                                         <xs:element name="statisticalMethod" maxOccurs="unbounded">
                                                                                                                                                               <xs:complexType>
                                                                                                                                                                     <xs:sequence>
                                                                                                                                                                           <xs:element type="xs:string" name="methodTagName"></xs:element>
                                                                                                                                                                           <xs:element type="xs:string" name="description"></xs:element>
                                                                                                                                                                     </xs:sequence>
                                                                                                                                                               </xs:complexType>
                                                                                                                                                         </xs:element>
                                                                                                                                                   </xs:sequence>
                                                                                                                                             </xs:complexType>
                                                                                                                                       </xs:element>
                                                                                                                                 </xs:sequence>
                                                                                                                           </xs:complexType>
                                                                                                                     </xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                                   <xs:element name="specialValues">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="specialValue" maxOccurs="unbounded">
                                                                                                                           <xs:complexType>
                                                                                                                                 <xs:sequence>
                                                                                                                                       <xs:element type="xs:string" name="value"></xs:element>
                                                                                                                                       <xs:element type="xs:string" name="description"></xs:element>
                                                                                                                                 </xs:sequence>
                                                                                                                           </xs:complexType>
                                                                                                                     </xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="data">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="surfaceObs">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="location" maxOccurs="unbounded">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="station">
                                                                                                                           <xs:complexType>
                                                                                                                                 <xs:sequence>
                                                                                                                                       <xs:element type="xs:string" name="stationID"></xs:element>
                                                                                                                                       <xs:element type="xs:string" name="stationName"></xs:element>
                                                                                                                                       <xs:element type="xs:string" name="stationNameEN"></xs:element>
                                                                                                                                       <xs:element type="xs:string" name="stationAttribute"></xs:element>
                                                                                                                                 </xs:sequence>
                                                                                                                           </xs:complexType>
                                                                                                                     </xs:element>
                                                                                                                     <xs:element name="stationObsStatistics">
                                                                                                                           <xs:complexType>
                                                                                                                                 <xs:sequence>
                                                                                                                                       <xs:element type="xs:string" name="dataYearMonth"></xs:element>
                                                                                                                                       <xs:element name="temperature">
                                                                                                                                             <xs:complexType>
                                                                                                                                                   <xs:sequence>
                                                                                                                                                         <xs:element name="monthly">
                                                                                                                                                               <xs:complexType>
                                                                                                                                                                     <xs:sequence>
                                                                                                                                                                           <xs:element type="xs:string" name="mean"></xs:element>
                                                                                                                                                                           <xs:element type="xs:string" name="maximum"></xs:element>
                                                                                                                                                                           <xs:element type="xs:date" name="maximumDate"></xs:element>
                                                                                                                                                                           <xs:element type="xs:string" name="minimum"></xs:element>
                                                                                                                                                                           <xs:element type="xs:date" name="minimumDate"></xs:element>
                                                                                                                                                                     </xs:sequence>
                                                                                                                                                               </xs:complexType>
                                                                                                                                                         </xs:element>
                                                                                                                                                   </xs:sequence>
                                                                                                                                             </xs:complexType>
                                                                                                                                       </xs:element>
                                                                                                                                       <xs:element name="precipitation">
                                                                                                                                             <xs:complexType>
                                                                                                                                                   <xs:sequence>
                                                                                                                                                         <xs:element name="monthly">
                                                                                                                                                               <xs:complexType>
                                                                                                                                                                     <xs:sequence>
                                                                                                                                                                           <xs:element type="xs:string" name="accumulation"></xs:element>
                                                                                                                                                                           <xs:element type="xs:string" name="GE01Days"></xs:element>
                                                                                                                                                                     </xs:sequence>
                                                                                                                                                               </xs:complexType>
                                                                                                                                                         </xs:element>
                                                                                                                                                   </xs:sequence>
                                                                                                                                             </xs:complexType>
                                                                                                                                       </xs:element>
                                                                                                                                       <xs:element name="windSpeed">
                                                                                                                                             <xs:complexType>
                                                                                                                                                   <xs:sequence>
                                                                                                                                                         <xs:element name="monthly">
                                                                                                                                                               <xs:complexType>
                                                                                                                                                                     <xs:sequence>
                                                                                                                                                                           <xs:element type="xs:string" name="maximum"></xs:element>
                                                                                                                                                                           <xs:element type="xs:date" name="maximumDate"></xs:element>
                                                                                                                                                                     </xs:sequence>
                                                                                                                                                               </xs:complexType>
                                                                                                                                                         </xs:element>
                                                                                                                                                   </xs:sequence>
                                                                                                                                             </xs:complexType>
                                                                                                                                       </xs:element>
                                                                                                                                       <xs:element name="windDirection">
                                                                                                                                             <xs:complexType>
                                                                                                                                                   <xs:sequence>
                                                                                                                                                         <xs:element name="monthly">
                                                                                                                                                               <xs:complexType>
                                                                                                                                                                     <xs:sequence>
                                                                                                                                                                           <xs:element type="xs:string" name="maximum"></xs:element>
                                                                                                                                                                     </xs:sequence>
                                                                                                                                                               </xs:complexType>
                                                                                                                                                         </xs:element>
                                                                                                                                                   </xs:sequence>
                                                                                                                                             </xs:complexType>
                                                                                                                                       </xs:element>
                                                                                                                                       <xs:element name="gustSpeed">
                                                                                                                                             <xs:complexType>
                                                                                                                                                   <xs:sequence>
                                                                                                                                                         <xs:element name="monthly">
                                                                                                                                                               <xs:complexType>
                                                                                                                                                                     <xs:sequence>
                                                                                                                                                                           <xs:element type="xs:string" name="maximum"></xs:element>
                                                                                                                                                                           <xs:element type="xs:date" name="maximumDate"></xs:element>
                                                                                                                                                                     </xs:sequence>
                                                                                                                                                               </xs:complexType>
                                                                                                                                                         </xs:element>
                                                                                                                                                   </xs:sequence>
                                                                                                                                             </xs:complexType>
                                                                                                                                       </xs:element>
                                                                                                                                       <xs:element name="gustDirection">
                                                                                                                                             <xs:complexType>
                                                                                                                                                   <xs:sequence>
                                                                                                                                                         <xs:element name="monthly">
                                                                                                                                                               <xs:complexType>
                                                                                                                                                                     <xs:sequence>
                                                                                                                                                                           <xs:element type="xs:string" name="maximum"></xs:element>
                                                                                                                                                                     </xs:sequence>
                                                                                                                                                               </xs:complexType>
                                                                                                                                                         </xs:element>
                                                                                                                                                   </xs:sequence>
                                                                                                                                             </xs:complexType>
                                                                                                                                       </xs:element>
                                                                                                                                       <xs:element name="relativeHumidity">
                                                                                                                                             <xs:complexType>
                                                                                                                                                   <xs:sequence>
                                                                                                                                                         <xs:element name="monthly">
                                                                                                                                                               <xs:complexType>
                                                                                                                                                                     <xs:sequence>
                                                                                                                                                                           <xs:element type="xs:string" name="mean"></xs:element>
                                                                                                                                                                           <xs:element type="xs:string" name="minimum"></xs:element>
                                                                                                                                                                           <xs:element type="xs:date" name="minimumDate"></xs:element>
                                                                                                                                                                     </xs:sequence>
                                                                                                                                                               </xs:complexType>
                                                                                                                                                         </xs:element>
                                                                                                                                                   </xs:sequence>
                                                                                                                                             </xs:complexType>
                                                                                                                                       </xs:element>
                                                                                                                                       <xs:element name="stationPressure">
                                                                                                                                             <xs:complexType>
                                                                                                                                                   <xs:sequence>
                                                                                                                                                         <xs:element name="monthly">
                                                                                                                                                               <xs:complexType>
                                                                                                                                                                     <xs:sequence>
                                                                                                                                                                           <xs:element type="xs:string" name="mean"></xs:element>
                                                                                                                                                                     </xs:sequence>
                                                                                                                                                               </xs:complexType>
                                                                                                                                                         </xs:element>
                                                                                                                                                   </xs:sequence>
                                                                                                                                             </xs:complexType>
                                                                                                                                       </xs:element>
                                                                                                                                       <xs:element name="sunshineDuration">
                                                                                                                                             <xs:complexType>
                                                                                                                                                   <xs:sequence>
                                                                                                                                                         <xs:element name="monthly">
                                                                                                                                                               <xs:complexType>
                                                                                                                                                                     <xs:sequence>
                                                                                                                                                                           <xs:element type="xs:string" name="total"></xs:element>
                                                                                                                                                                     </xs:sequence>
                                                                                                                                                               </xs:complexType>
                                                                                                                                                         </xs:element>
                                                                                                                                                   </xs:sequence>
                                                                                                                                             </xs:complexType>
                                                                                                                                       </xs:element>
                                                                                                                                 </xs:sequence>
                                                                                                                           </xs:complexType>
                                                                                                                     </xs:element>
                                                                                                               </xs:sequence>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>