src/main/resources/xsd/NOAA.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cwbdata">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="identifier"/>
        <xs:element type="xs:string" name="datasetID"/>
        <xs:element type="xs:string" name="datasetName"/>
        <xs:element type="xs:string" name="dataItemID"/>
        <xs:element type="xs:string" name="sender"/>
        <xs:element type="xs:dateTime" name="sent"/>
        <xs:element type="xs:string" name="status"/>
        <xs:element type="xs:string" name="scope"/>
        <xs:element type="xs:string" name="msgType"/>
        <xs:element type="xs:string" name="publisherOID"/>
        <xs:element name="resources">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="resource">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="metadata">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="resourceName"/>
                          <xs:element type="xs:string" name="resourceDescription"/>
                          <xs:element type="xs:string" name="language"/>
                          <xs:element name="sources">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="source">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="title"/>
                                      <xs:element type="xs:string" name="path"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="temporal">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:date" name="dataDate"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="weatherElements">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="weatherElement" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="tagName"/>
                                      <xs:element type="xs:string" name="description"/>
                                      <xs:element type="xs:string" name="units"/>
                                      <xs:element name="statisticalMethods" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="statisticalMethod" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:string" name="methodTagName"/>
                                                  <xs:element type="xs:string" name="description"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="specialValues">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="specialValue" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:string" name="value"/>
                                                  <xs:element type="xs:string" name="description"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="data">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="surfaceObsDailyStatistics">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:date" name="dataDate"/>
                                <xs:element name="location" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="stationID"/>
                                      <xs:element type="xs:string" name="precipitation"/>
                                      <xs:element name="temperature">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="maximum"/>
                                            <xs:element type="xs:string" name="minimum"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>