src/main/resources/xsd/station.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cwbdata">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="identifier"/>
        <xs:element type="xs:string" name="datasetID"/>
        <xs:element type="xs:string" name="datasetName"/>
        <xs:element type="xs:string" name="dataItemID"/>
        <xs:element type="xs:string" name="dataItemName"/>
        <xs:element type="xs:string" name="sender"/>
        <xs:element type="xs:dateTime" name="sent"/>
        <xs:element type="xs:string" name="status"/>
        <xs:element type="xs:string" name="scope"/>
        <xs:element type="xs:string" name="msgType"/>
        <xs:element type="xs:string" name="publisherOID"/>
        <xs:element type="xs:string" name="note"/>
        <xs:element name="resources">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="resource">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="metadata">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="resourceID"/>
                          <xs:element type="xs:string" name="resourceName"/>
                          <xs:element type="xs:string" name="resourceDescription"/>
                          <xs:element type="xs:string" name="language"/>
                          <xs:element type="xs:string" name="homepage"/>
                          <xs:element name="temporal">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:date" name="updateDate"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="spatial">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="description"/>
                                <xs:element name="coordinateReferenceSystem">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="EPSGCode"/>
                                      <xs:element type="xs:string" name="name"/>
                                      <xs:element type="xs:string" name="datum"/>
                                      <xs:element type="xs:string" name="coordinateFormat"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="fields">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="field" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="tagName"/>
                                      <xs:element type="xs:string" name="description"/>
                                      <xs:element type="xs:string" name="units" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="data">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="stationsStatus">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="station" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="stationID"/>
                                      <xs:element type="xs:string" name="stationName"/>
                                      <xs:element type="xs:string" name="stationNameEN"/>
                                      <xs:element type="xs:string" name="stationAltitude"/>
                                      <xs:element type="xs:string" name="longitude"/>
                                      <xs:element type="xs:string" name="latitude"/>
                                      <xs:element type="xs:string" name="countyName"/>
                                      <xs:element type="xs:string" name="stationAddress"/>
                                      <xs:element type="xs:string" name="startDate" minOccurs="1"/>
                                      <xs:element type="xs:string" name="endDate" minOccurs="1"/>
                                      <xs:element type="xs:string" name="status" minOccurs="1"/>
                                      <xs:element type="xs:string" name="note" minOccurs="1"/>
                                      <xs:element type="xs:string" name="originalStationID" minOccurs="1"/>
                                      <xs:element type="xs:string" name="newStationID" minOccurs="1"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>